* -text
*.md text eol=lf
*.c text
*.h text
*.cc text
*.S text
*.s text
*.ld text
*.js text
*.mjs text
*.cjs text
*.json text
*.html -text
*.css text
*.txt text
*.sh text eol=lf
*.bat text eol=crlf
*.png -text -diff
*.svg -text -diff
*.hex -text -diff
*.elf -text -diff
*.zip -text -diff
LICENSE text
Makefile text
